body {
  text-align: center;
}

.signup-input {
  font-size: 14px;
  border-radius: 15px;
  border: 1px solid lightgray;
  margin: 10px;
  margin-bottom: 0px;
  padding: 5px 10px;
  width: 250px;
  height: 30px;
  color: black;
  font-weight: 600;
  display: block;
  background-color: rgb(223, 213, 213);
}

.signup-btn {
  height: 12%;
  width: 95%;
  border-radius: 10px;
  border: none;
  background-color: rgb(14, 161, 76);
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
  color: white;
}

.error {
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
  height: 8px;
  font-size: 20px;
}

.error-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* put the signup container to the right */
.signup-container {
  margin-left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 55%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  border: 1px solid white;
}

.ghost {
  height: 20vh;
}

.signup-form {
  margin-right: 70px;
  margin-bottom: 130px;
}

strong {
  color: black;
}

.login-link {
  color: rgb(14, 161, 76);
  font-size: 15px;
  margin-top: 10px;
}

a {
  text-decoration: none;
}

#signup-title {
  margin-bottom: 30px;
}

.fontAwesome {
  font-family: Helvetica, "FontAwesome", sans-serif;
}

/* push img down */
.logo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 10px;
  height: 100%;
  width: 600px;
}
