.profile {
  display: flex;
  justify-content: space-between;
}

.profile-container {
  height: 30vh;
  max-width: 550px;
  margin: 0 auto;
}

.profile-content {
  margin-top: 4rem;
}

.user-posts {
  height: auto;
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.user-comments {
  height: 50vh;
  margin-top: 1rem;
}

.detail-link {
  color: rgb(0, 0, 0);
}

#profile-comments {
  margin-top: 1rem;
}

.update-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.update-form input {
  width: 30%;
  height: 4rem;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding: 0.5rem;
  color: black;
}

.update-form button {
  width: 30%;
  height: 4rem;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding: 0.5rem;
  color: black;
  background-color: rgb(204, 37, 37);
}

.form-container {
  height: 100vh;
}
